@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    /* border: 2px solid white; */
    width: 1000px;
    height: 850px;
    margin: auto;
    background-image: url(assets/pictures/mosaic.png);
}

#background {
    position: absolute;
    height: 40%;
    width: 50%;
    /* margin: auto; */
    top: -75px;
    left: 25%;
    /* right: 0; */
    /* bottom: 0; */
    /* filter: blur(5px); */
    z-index: -1;
}

.card-header:hover {
    cursor: pointer;
}

.blockquote {
    font-size: 0.75em;
}

.card-body {
    visibility: hidden;
}

#shortcuts {
    /* border: 2px solid white; */
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    display:block;
    height: 155px;
    left: 0;
    top: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    text-align: center;
    border: none;
    box-shadow: none;
    background:none;
    background-image: url(assets/pictures/notepad.png);
    background-size: 105%;
    background-position-x: 10px;
    background-position-y: -15px;

}

ul {
    margin: 0;
    line-height: 1.25em;
    left: 5px;
}

h3 {
    margin-bottom: 10px;
    margin-top:23px;
    text-align: left;
    padding-left: 17%;
}

.far:hover {
    cursor: pointer;
}

/* container for music player */
.container {
    position: relative;
    float: left;
    height: 363pt;
    width: 250pt;
    left: 15%;
    top: 30%;
    margin:2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    /* border: 2px solid white; */
}

#form-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    height: 365pt;
    background-color: #85C1CC;
}

#slabel {
    top:50%;
    left: 1%;
    position: absolute;

}

/* container for play, pause, previous track, next track, and progress bar  */
.box {
    position: absolute;
    height: 50%;
    width: 103%;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
    z-index: 4;
    bottom: -17%;
}

/* album cover */
#thumbnail {
    position: absolute;
    width: 103%;
    top: 15%;
    transition: 1s;
    z-index: 3;
}

/* track artist */
.song-artist {
    position: absolute;
    z-index: 4;
    color: rgb(193, 255, 6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    bottom: 21%;
    left: 28%;
}

/* track title */
.song-title {
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    bottom: 16%;
    left: 28%;
}

/* style for play and pause images */
#play-pause {
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    bottom: 15%;
    z-index: 4;
    font-size: 53px;
    left: 9%;
}

/* style for next and previous song images */
#next-song, #previous-song {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
}

#skip-forward, #skip-backward, #timestamp {
    position: absolute;
    height: 30px;
    width: 30px;
    /* filter: invert(1); */
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
}

#timestamp {
   height: 50px;
   width: 50px;
   margin:0;
   top: 0px;
   position: relative;
}

.far {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 2.75em;
    right: 54%;
    top: 37%;
}

.fa-copy {
    top: 37%;
    right: 30%;
}

.fa-trash-alt {
    top: 37%;
    right: 5%;
}

.imagewrap {
    height: 50px;
    width: 50px;
    background-color: blanchedalmond;
    left: 5%;
    top: 37%;
    position: absolute;
}

.shortli {
    text-align: left;
    font-size: .85em;
    padding-left: 25%;
}

#snote {
    position: absolute;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    left: 1%;
}

#snote {
    top:55%;  
    font-family: 'Patrick Hand', cursive;  
    font-size:16px;
}

#notes {
    position: absolute;
    color: black;
    bottom: 2px;
    height: 126px;    
    background-image: url(assets/pictures/notepaper.png);
    background-size: 320px 191px;
    padding-left: 35px;
    padding-top: 30px;
    width: 290px;
    border-radius: 10px;
    top: 66%;
    left: 1px;
    /* position: absolute; */
    /* height: 50%; */
    /* width: 103%; */
    /* background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133)); */
    /* z-index: 4; */
    /* bottom: -17%; */
}

textarea {
    line-height: 0.92em;
    font-family: 'Patrick Hand', cursive;
    font-size: 13px;
}

.timestamptip {
  visibility: hidden;
  width: 110px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 10px;
  position: relative;
  top: -40px;
  left: 130px;
  float: right;
}

/* .imagewrap:hover .timestamptip {
    visibility: visible;
} */

#skip-backward {
    right: 7%;
    bottom: 21.5%;
    filter: invert(1);
}

#skip-forward {
    right: 7%;
    filter: invert(1);
}

/* unique style for next song image */
#next-song {
    right: 5%;
}

/* unique style for previous song image */
#previous-song {
    right: 5.3%;
    bottom: 21.5%;
}

/* style for current time of the track */
.currentTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -6.5%;
    left: 17%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    align-items: center;
}

/* style for the total length of the track */
.durationTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: 1%;
    right: 11%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    align-items: center;
    color: rgb(193, 255, 6);
}

/* style for the progress bar */
#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 4;
    height: 5px;
    background: #000000;
    width: 160pt;
    bottom: 5%;
    border-radius: 30px;
    left: 17%;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 7px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(213, 213, 213), rgb(193, 255, 6));
    border-radius: 30px;
    cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progress-bar:focus {
    outline: none;
}


